In [2]:
from requests import post
import pandas as pd

In [15]:
rating_80 = post('https://api.igdb.com/v4/games/count', **{'headers': {'Client-ID': 'oxz5ejwdymxkuhbvqv4trcmiw4qaj0', 'Authorization': 'Bearer nf5vxbcbhcfbxzt4ja91ygs67uybpx'},'data': 'where rating > 80;'})
print ("response: %s" % str(rating_80.json()))

response: {'count': 3992}

In [19]:
rating_50 = post('https://api.igdb.com/v4/games/count', **{'headers': {'Client-ID': 'oxz5ejwdymxkuhbvqv4trcmiw4qaj0', 'Authorization': 'Bearer nf5vxbcbhcfbxzt4ja91ygs67uybpx'},'data': 'where rating < 50;'})
print ("response: %s" % str(rating_50.json()))

response: {'count': 2482}

In [40]:
for i in range(500): 
    rating_80_500 = post('https://api.igdb.com/v4/games', **{'headers': {'Client-ID': 'oxz5ejwdymxkuhbvqv4trcmiw4qaj0', 'Authorization': 'Bearer nf5vxbcbhcfbxzt4ja91ygs67uybpx'},
                                                    'data': f'fields id, category, game_modes, genres, hypes, created_at, follows, name, platforms, player_perspectives, rating, rating_count, release_dates, themes, total_rating, total_rating_count, language_supports, franchises; rating; where id = {i}; where rating > 80; sort rating desc; limit 500;'})

In [41]:
df = pd.DataFrame(rating_80_500.json())
df.tail(10)

,id,category,created_at,game_modes,genres,hypes,name,platforms,player_perspectives,rating,rating_count,release_dates,themes,total_rating,total_rating_count,language_supports,franchises,follows
490,89246,0,1519584778,NaN,[9],NaN,Bricks n Balls,[39],NaN,90.0,0,[151328],NaN,90.0,0,NaN,NaN,NaN
491,89242,0,1519584756,NaN,"[13, 14]",NaN,Nova Golf,NaN,NaN,90.0,0,NaN,NaN,90.0,0,NaN,NaN,NaN
492,89201,0,1519469156,NaN,[12],NaN,Magic Mermaid,[39],NaN,90.0,0,[150833],NaN,90.0,0,NaN,NaN,NaN
493,89194,0,1519469051,NaN,NaN,NaN,Egg Splash,NaN,NaN,90.0,0,NaN,NaN,90.0,0,NaN,NaN,NaN
494,89192,0,1519469031,NaN,NaN,NaN,Funny puzzles for kids,NaN,NaN,90.0,0,NaN,NaN,90.0,0,NaN,NaN,NaN
495,89188,0,1519468923,NaN,[13],NaN,It's Titanic,[39],NaN,90.0,0,[150192],NaN,90.0,0,NaN,NaN,NaN
496,89181,0,1519468856,"[1, 2]","[9, 15]",NaN,Tsuro: The Game of The Path - VR Edition,"[163, 384, 386]",[7],90.0,0,"[316539, 316540, 497553]",NaN,90.0,0,"[413047, 413048, 413049, 413050, 413051, 41305...",NaN,NaN
497,89176,0,1519468757,NaN,NaN,NaN,Blebrity,[39],NaN,90.0,0,[150203],NaN,90.0,0,NaN,NaN,NaN
498,89153,0,1519468415,NaN,NaN,NaN,Minesweeper!,NaN,NaN,90.0,0,NaN,NaN,90.0,0,NaN,NaN,NaN
499,89146,0,1519426842,NaN,[12],NaN,Monster High: Beauty Shop,[39],NaN,90.0,0,[149768],NaN,90.0,0,NaN,NaN,NaN

In [30]:
df.shape

(500, 18)

In [44]:
for i in range(500, 1000): 
    rating_80_1000 = post('https://api.igdb.com/v4/games', **{'headers': {'Client-ID': 'oxz5ejwdymxkuhbvqv4trcmiw4qaj0', 'Authorization': 'Bearer nf5vxbcbhcfbxzt4ja91ygs67uybpx'},
                                                    'data': f'fields id, category, game_modes, genres, hypes, created_at, follows, name, platforms, player_perspectives, rating, rating_count, release_dates, themes, total_rating, total_rating_count, language_supports, franchises; rating; where id = {i}; where rating > 80; sort rating desc; limit 500;'})

In [45]:
df = pd.DataFrame(rating_80_1000.json())
df.tail(10)

,id,category,created_at,game_modes,genres,hypes,name,platforms,player_perspectives,rating,rating_count,release_dates,themes,total_rating,total_rating_count,language_supports,franchises,follows
490,89246,0,1519584778,NaN,[9],NaN,Bricks n Balls,[39],NaN,90.0,0,[151328],NaN,90.0,0,NaN,NaN,NaN
491,89242,0,1519584756,NaN,"[13, 14]",NaN,Nova Golf,NaN,NaN,90.0,0,NaN,NaN,90.0,0,NaN,NaN,NaN
492,89201,0,1519469156,NaN,[12],NaN,Magic Mermaid,[39],NaN,90.0,0,[150833],NaN,90.0,0,NaN,NaN,NaN
493,89194,0,1519469051,NaN,NaN,NaN,Egg Splash,NaN,NaN,90.0,0,NaN,NaN,90.0,0,NaN,NaN,NaN
494,89192,0,1519469031,NaN,NaN,NaN,Funny puzzles for kids,NaN,NaN,90.0,0,NaN,NaN,90.0,0,NaN,NaN,NaN
495,89188,0,1519468923,NaN,[13],NaN,It's Titanic,[39],NaN,90.0,0,[150192],NaN,90.0,0,NaN,NaN,NaN
496,89181,0,1519468856,"[1, 2]","[9, 15]",NaN,Tsuro: The Game of The Path - VR Edition,"[163, 384, 386]",[7],90.0,0,"[316539, 316540, 497553]",NaN,90.0,0,"[413047, 413048, 413049, 413050, 413051, 41305...",NaN,NaN
497,89176,0,1519468757,NaN,NaN,NaN,Blebrity,[39],NaN,90.0,0,[150203],NaN,90.0,0,NaN,NaN,NaN
498,89153,0,1519468415,NaN,NaN,NaN,Minesweeper!,NaN,NaN,90.0,0,NaN,NaN,90.0,0,NaN,NaN,NaN
499,89146,0,1519426842,NaN,[12],NaN,Monster High: Beauty Shop,[39],NaN,90.0,0,[149768],NaN,90.0,0,NaN,NaN,NaN